table{
    border: black;
    border-collapse: collapse;
    width: 600px;
    height: 600px;
}
.Black {
    background-color: black;
}
.White {
    background-color: white;
}
.day_so tr{
    font-size: 100px;
    font-family: Arial;
}